.tf-feed-pager
  span.tf-pager-prev.tf-pager
  span.tf-pager-count
    span.tf-pager-current-pages(data-context="feed" data-content="this.currentPageIndex")
    span.tf-pager-total-pages(data-context="feed" data-content="this.numPages")
  span.tf-pager-next.tf-pager
