.tf-feed-entry
    img.tf-stream-thumb(data-context="streamEntry" data-src="this.preview.medium")
    h2.tf-stream-name(data-context="streamEntry" data-content="this.channel.display_name")
    .tf-stream-meta
        span.tf-stream-game-name(data-context="streamEntry" data-content="this.game")
        span.tf-stream-viewers
            span.tf-stream-viewer-count(data-context="streamEntry" data-content="this.viewers")
            span.tf-stream-viewer-suffix(data-context="feedContent" data-content="this.viewerSuffix")
    p.tf-stream-description(data-context="streamEntry" data-content="this.channel.status")
